# VS Code workspace settings
.vscode

# Node modules
node_modules

# Parcel bundler cache directory
.parcel-cache
.cache

# Yarn error log file
yarn-error.log

# Enviroment variables
env/*.env

# Build output directory
dist

# Mock data generation temp directory
dist_gen