// Navbar
$search-height: 3em;
$search-width: 24em;

// Top Banner
$topbanner-height: 5em;

// Sidenav
$sidenav-width: 500px;
$sidenav-bg-color: #fff;
$sidenav-transition-duration: 0.3s;
$sidenav-horizontal-padding: 3em;
$sidenav-vertical-padding: 3.5em;

// Login/Signup
$form-max-width: 800px;

// Footer
$footer-height: 510px;
$footer-paymentCredentials-height: 80px;
$footer-paymentIcon-size: 36px;

// Product
$product-header-img-width: 256px;
$product-header-img-height: 256px;

// Newsletter
$newsletter-container-height: 120px;
